<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 style="font-weight: bolder; color: rgb(15, 15, 15);">All Projects<hr class="type_9"></h1>
            <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-target="#modalSubscriptionForm" data-toggle="modal" href="#">
                <i class="fas fa-download fa-sm text-white-50"></i>Add New Project</a>
        </div>
        <div *ngIf="showSucessAlert" class="alert alert-success alert-dismissible fade show" role="alert">{{successMsg}}
            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div *ngIf="showErrorAlert" class="alert alert-dange alert-dismissible fade show" role="alert"> {{ errorMsg }}
            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div aria-hidden="true" aria-labelledby="fadeOut" class="modal fade" id="modalSubscriptionForm" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">

                        <h4 id="ph4" style="font-weight: bolder; color: rgb(90, 80, 80);">Add Project</h4>

                        <button aria-label="Close" class="close" data-dismiss="modal" type="button"></button>
                    </div>

                    <form (ngSubmit)="onSubmit()" [formGroup]="projectForm">

                        <div class="modal-body mx-1">
                            <div class="md-form mb-3">
                                <input class="form-control validate" formControlName="project_name" id="form1" placeholder="Enter project name" type="text"><br/>
                                    <br/>
                                    <br/>
                                </div>
                                <div style="margin-top: 20px; margin-bottom: 20px;">
                                    <button class="btn btn-primary btn-lg btn-block" data-backdrop="false" type="submit" value="true">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div style="margin-bottom:50px;margin-top:20px;">
                <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Project Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.project_name}} </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                  </table>
            </div>          
        </div>
