<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Assigned Projects</h1>
  </div>

  <!-- Content Row -->
  <!-- <app-card></app-card> -->
  <mat-tab-group>
      <mat-tab label="STATUS">
          <div style="margin:20px;">
              <mat-card>
                  <mat-card-title>
                      Java Concurrency
                  </mat-card-title>
                  <mat-card-subtitle>
                      <mat-chip-list>
                          <mat-chip>In Progress</mat-chip>
                      </mat-chip-list>
                  </mat-card-subtitle>
                  <mat-card-content>
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                  </mat-card-content>
                  <mat-card-actions>

                  </mat-card-actions>
                  <mat-card-footer>
                  </mat-card-footer>

              </mat-card>

          </div>
          <div style="margin:20px;">
            <mat-card>
                <mat-card-title>
                    REST API
                </mat-card-title>
                <mat-card-subtitle>
                    <mat-chip-list>
                        <mat-chip>In Progress</mat-chip>
                    </mat-chip-list>
                </mat-card-subtitle>
                <mat-card-content>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </mat-card-content>
                <mat-card-actions>

                </mat-card-actions>
                <mat-card-footer>
                </mat-card-footer>

            </mat-card>

        </div>
        <div style="margin:20px;">
          <mat-card>
              <mat-card-title>
                  Microservices
              </mat-card-title>
              <mat-card-subtitle>
                  <mat-chip-list>
                      <mat-chip>Completed</mat-chip>
                  </mat-chip-list>
              </mat-card-subtitle>
              <mat-card-content>
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
              </mat-card-content>
              <mat-card-actions>

              </mat-card-actions>
              <mat-card-footer>
              </mat-card-footer>

          </mat-card>

      </div>
      <div style="margin:20px;">
        <mat-card>
            <mat-card-title>
                Tomato API in C#
            </mat-card-title>
            <mat-card-subtitle>
                <mat-chip-list>
                    <mat-chip>Completed</mat-chip>
                </mat-chip-list>
            </mat-card-subtitle>
            <mat-card-content>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </mat-card-content>
            <mat-card-actions>

            </mat-card-actions>
            <mat-card-footer>
            </mat-card-footer>

        </mat-card>

    </div>
      </mat-tab>
      </mat-tab-group>
      </div>