


    <div class="container-fluid">

        <!-- Page Heading -->
           <div class="d-sm-flex align-items-center justify-content-between mb-4">
               <h1 class="h3 mb-0 text-gray-800">Daily Report</h1>
           </div>
    
    
    
    
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
    
        <!-- <canvas id="canvas">{{ Vacationchart }}</canvas>     -->
    
    
        </mat-card>
    
      </div>