<div style="float: left; margin-left:10px; margin-bottom:300px;">

    <!-- Page Heading -->
    <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Developer Profile</h1>
    </div> -->

    <h4>Assign Developer to a Project</h4>
    <mat-form-field>
      <mat-label>Select a Developer</mat-label>
      <mat-select (selectionChange)="devMethod($event.value)">
        <mat-option  *ngFor="let developer of developers" [value]="developer.emp_name">
        {{developer.emp_name}}
      </mat-option>
      </mat-select>
    </mat-form-field>
   
    
    <p>You selected: {{curremp}}</p>
    

 
</div>
<div style="float: right;  margin-right:200px; margin-bottom:400px;">

  <!-- Page Heading -->
  <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Developer Profile</h1>
  </div> -->


  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{curremp}}</mat-card-title>
    </mat-card-header>
    <!-- <form class="example-form" [formGroup]="myControl" >
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form> -->
    <mat-form-field>
      <mat-label>Select an option</mat-label>
      <mat-select (selectionChange)="projMethod($event.value)">
        <mat-option  *ngFor="let project of projects" [value]="project.title">
        {{project.title}}
      </mat-option>
      </mat-select>
    </mat-form-field>
    
    <p>You selected: {{currproj}}</p>
    
  </mat-card>


</div>


