<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h1">Assign Developer to a Project</h1><hr />
</div>
   
<div class="container">
<div>
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Developer name" matInput [formControl]="developerControl" [matAutocomplete]="dev">
    <mat-autocomplete #dev="matAutocomplete" [displayWith]="displayDeveloperName.bind(this)">
      <mat-option *ngFor="let developer of filteredOptions | async" [value]="developer">
        {{developer.employee.employee_firstname}}  {{developer.employee.employee_lastname}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field> 
  
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Assign Project" matInput [formControl]="projectControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="projectDisplay.bind(this)">
      <mat-option *ngFor="let project of projectfilteredOptions | async" [value]="project">
        {{project.project.project_name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field> 
  <div id ="selectedProject">
   <p>Selected project: {{assignedproject}}</p>
   
  <mat-chip-list *ngFor="let project of assignedproject">
    <mat-chip  [selectable]="selectable"
    [removable]="removable" (removed)="deleteProject(project)" >{{project.project_name}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>  
  </mat-chip-list>  
      </div>
    </div>
  </div>
</div>