<div class="container-fluid">

 <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h1">Assign Developer to a Project</h1>
    </div>
   
<div class="container">


<div>

  
  <mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title>{{curremp}}</mat-card-title>
    </mat-card-header>

    <mat-form-field>
      

      <mat-form-field>
        <mat-select (selectionChange)="devMethod($event.value)">
          <mat-option  *ngFor="let developer of developers" [value]="developer">
          {{developer.emp_name}}
        </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <br />

      <mat-label>Name</mat-label>

      <mat-select  (selectionChange)="projMethod($event.value)">
        
        <mat-option  *ngFor="let project of projects" [value]="project">
        {{project.title}}
      </mat-option>
      </mat-select>
    </mat-form-field>
    
    <p>Selected project: {{currproj}}</p>

    <mat-list  *ngFor="let assignedproject of assignedprojects" role="list">
      <span>{{assignedproject.title}}</span> <button>delete</button>
    </mat-list>

  </mat-card>
  <br />
<div>
  <mat-label>

  </mat-label>
</div>

</div>

  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.emp_name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

</div>