.example-card {
    max-width: 600px;
    height: 500px;
    margin-left: 200px;
    /* justify-content: center; */
    align-items: center;
  }
  .h1{
    color: black;
    display: flex;
    margin-left: 220px;
  }
  #selectedProject, p{
    background-color: burlywood;
    border-radius: 15px;
    color: black;
  }
  .example-header-image {
    background-image: url("https://images.unsplash.com/photo-1461988320302-91bde64fc8e4?ixid=2yJhcHBfaWQiOjEyMDd9&&fm=jpg&w=400&fit=max");
    background-size: cover;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  #submit{
    background-color: blue;
    color:white;
  }
  
  .example-full-width {
    width: 100%;
  }


  .container {
    display: flex;
    margin-bottom: 200px;
  }
  .container > div {
    flex: 1; /*grow*/
  }